SIGNALWIRE_PROJECT_KEY=yourproject
SIGNALWIRE_TOKEN=yourtoken
SIGNALWIRE_SPACE=YOURSPACE.signalwire.com
FROM_NUMBER=a_number_from_your_account
APP_DOMAIN=your_application_domain
SIP_CLIENT_DOMAIN=example_sip_client_domain