SIGNALWIRE_PROJECT_KEY=your-sw-project
SIGNALWIRE_TOKEN=your-sw-token
SIGNALWIRE_SPACE=your-space-name.signalwire.com
CALLER_ID=a-number-from-your-space
DEFAULT_DESTINATION=any-number-for-testing
LAML_BIN=laml-bin-with-your-conference-code
SIP_APP=your-sip-domain-app.dapp.signalwire.com

