FROM_NUMBER=+19044417363
NEW_CUSTOMER_NUMBER=+19046598495
CURRENT_CUSTOMER_NUMBER=+19044417370
BOUNTY_HUNTER_NUMBER=+19044417372
SIGNALWIRE_PROJECT_KEY=YOUR-PROJECT-KEY
SIGNALWIRE_TOKEN=YOUR-PROJECT-TOKEN
