<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send A Message</title>
</head>
<body>
        <form action = "/createsmshandler">
        <label for="pnum">Send an SMS</label><br>
        <input type="text" id="pnum" name="pnum" value="+18001234567">Send SMS To</input></br></br>
        <input type="text" id="smsbody" name="smsbody" value="Your SMS body here">Sms Body</input></br></br>
        <button id="submitButton" class="float-left submit-button" >Send SMS</button>
        </form>
</body>
</html>