SIGNALWIRE_PROJECT_KEY=649dc08e-3558-XXXXXX-XXXXXXX
SIGNALWIRE_TOKEN=PTdaf6a2203f03e081317bc3c4dae79542fXXXXXXXXXXXX
DEEPGRAM_SECRET=3077a9d6bd03d471cXXXXXXXXXXXXXXXXXXXXX
TAP_ADDRESS=ws://9f23acb1aead.ngrok.app/asr
PORT=4040